<solr persistent="true">
    <cores adminPath="/admin/cores">
      {% for core in solr_cores -%}

        <core name="{{ core.name }}" instanceDir="cores/{{ core.folder }}" dataDir="{{ solr_data_dir }}/{{ core.folder }}/data" />
      {%- endfor %}

    </cores>
</solr>
