zend_extension=xdebug.so

; XDebug Profilers
xdebug.remote_enable = {{ php_ini_xdebug_remote_enable }}
xdebug.remote_connect_back = {{ php_ini_xdebug_remote_connect_back }}
xdebug.remote_autostart = {{ php_ini_xdebug_remote_autostart }}
